DT_ENDPOINT=https://GET THE URL from dynatrace without .app xxxxxx
DT_API_TOKEN=xxxxxxxxxxxx Get the classic token from Dynatrace xxxxx
INSTANA_ENDPOINT=
INSTANA_AGENT_KEY=
GCP_PROJECT_ID=
GCP_VM_ZONE=


